<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>The Turtle Shelter Project</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400&display=swap" rel="stylesheet" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/ourStyles.css" rel="stylesheet" />
    </head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="position: fixed; width: 100%; z-index: 100; background-color: #1F2B3D; border-bottom: .5px solid #FBFAF7">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/" style="font-weight: 100;">
                <img src="assets/favicon.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                TURTLE SHELTER PROJECT
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <% if (userRole === 'admin') { %>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/volunteer_manager">Manage Volunteers</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/event_manager">Manage Events</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/inventory_view">Inventory</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/volunteer_now">Volunteer Now</a></li>
                    <% } %>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/edit_profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Admin Page Content -->
    <div class="admin-container" style="background-color: #2D3A4F">
        <% if (userRole === 'admin') { %>
            <h2 class="welcome-msg">Welcome, <%= userDetails.admin_first_name %>!</h2>
        <% } else { %>
            <h2 class="welcome-msg">Welcome, <%= userDetails.volunteer_first_name %>!</h2>
        <% } %>

        <!-- Cards Section -->
        <div class="cards-container">
        <% if (userRole === 'admin') { %>
            <div class="card" onclick="location.href='/event_manager';">
                <img src="assets/img/icons/calendar.png" alt="calendar Icon">
                <h2 id="save-lives-heading">Event Manager & Recording</h2>
                <p style="font-family: sans-serif; font-weight: 100; font-size: 15.5px; text-align: center;">View all events and <b style="font-weight: bolder;">record</b> completed events</p>
            </div>
            <div class="card" onclick="location.href='/volunteer_manager';">
                <img src="assets/img/icons/pencil.png" alt="Volunteers Icon">
                <h2 id="save-lives-heading">Volunteer Manager</h2>
                <p style="font-family: sans-serif; font-weight: 100; font-size: 15.5px; text-align: center;">Get volunteer info and recent history</p>
            </div>
            <div class="card" onclick="location.href='/edit_profile';">
                <img src="assets/img/icons/people.png" alt="Dashboard Icon">
                <h2 id="save-lives-heading">Personal User Management</h2>
                <p style="font-family: sans-serif; font-weight: 100; font-size: 15.5px; text-align: center;">Check on user accounts and access</p>
            </div>
        <% } else { %>
            <div class="card" onclick="location.href='/volunteer_now';">
                <img src="assets/img/icons/people.png" alt="Volunteer Icon">
                <h2 id="save-lives-heading">Volunteer Sign Up</h2>
                <p style="font-family: sans-serif; font-weight: 100; font-size: 15.5px; text-align: center;">Check upcoming events to volunteer at</p>
            </div>
        <% } %>
            <div class="card" onclick="location.href='#dash';">
                <img src="assets/img/icons/graph.png" alt="Dashboard Icon">
                <h2 id="save-lives-heading">Dashboard and analytics</h2>
                <p style="font-family: sans-serif; font-weight: 100; font-size: 15.5px; text-align: center;">View past events stats</p>
            </div>
        </div>

        <div>
        <h2 class="welcome-msg" style="font-size: 30px; padding-bottom: 0">Past Events Dashboard</h2>
        </div>
        
        <div class="tableau-container" id="dash" style="height:800px">
            <div class="tableauPlaceholder" id="viz1733440981311" style="position: relative;" style="height:800px">
                <noscript>
                    <a href="#">
                        <img alt="Dashboard 1" src="https://public.tableau.com/static/images/Tu/TurtleShetlerProjectAdminDashboard/Dashboard1/1_rss.png" style="border: none;" />
                    </a>
                </noscript>
                <object class="tableauViz" style="display: none;">
                    <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
                    <param name="embed_code_version" value="3" />
                    <param name="site_root" value="" />
                    <param name="name" value="TurtleShetlerProjectAdminDashboard/Dashboard1" />
                    <param name="tabs" value="no" />
                    <param name="toolbar" value="yes" />
                    <param name="static_image" value="https://public.tableau.com/static/images/Tu/TurtleShetlerProjectAdminDashboard/Dashboard1/1.png" />
                    <param name="animate_transition" value="yes" />
                    <param name="display_static_image" value="yes" />
                    <param name="display_spinner" value="yes" />
                    <param name="display_overlay" value="yes" />
                    <param name="display_count" value="yes" />
                    <param name="language" value="en-US" />
                    <param name="filter" value="publish=yes" />
                </object>
            </div>
            <script type="text/javascript">
                var divElement = document.getElementById("viz1733440981311");
                var vizElement = divElement.getElementsByTagName("object")[0];
                if (divElement.offsetWidth > 800) {
                    vizElement.style.width = "100%";
                    vizElement.style.height = "75vh"; // Adjust height dynamically
                } else if (divElement.offsetWidth > 500) {
                    vizElement.style.width = "100%";
                    vizElement.style.height = "75vh"; // Smaller height for medium screens
                } else {
                    vizElement.style.width = "100%";
                    vizElement.style.height = "100vh"; // Full height for small screens
                }
                var scriptElement = document.createElement("script");
                scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>
        </div>
    </div>        

    <!-- Footer -->
    <footer class="site-footer" style="height: 150px; position: relative; bottom: 0; left: 0; width: 100%; background-color: #1F2B3D; padding: 0; border-top: .5px solid #FBFAF7">
    <div class="container" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="text-uppercase" style="font-weight: 100; font-size: 16px; text-align: center; color: #FBFAF7; padding-top: 40px;">Thank you for visiting the turtle shelter project</h5>
                <p class="small mb-0" style="font-family: sans-serif; font-size: 10px; font-weight: 100; text-align: center; color: #FBFAF7;">
                    &copy; 2024 Turtle Shelter Project. All Rights Reserved. We are a registered 501(c)(3) nonprofit organization.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/turtleshelterproject/"><i class="fab fa-facebook" style="color: #FBFAF7;"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/"><i class="fab fa-linkedin" style="color: #FBFAF7;"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
