<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Clean Blog - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400&display=swap" rel="stylesheet" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/ourStyles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style='background-color: white; position: fixed; border-bottom: 1px solid #393939'>
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" style="color: #393939;">
                    <img src="assets/favicon.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                    TURTLE SHELTER PROJECT
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0" style="color: #393939;">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="#about-us">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="#join-us">Sponsorship</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/meet_jen">Jen's Story</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/request_event">How to help</a></li>
                        <% if (adminName) { %>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/admin">My Dashboard</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/login">TSP Log In</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/test-bkg.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 id="save-lives-heading">Helping to save lives of people experiencing homelessness</h1>
                            <span class="subheading" style="font-weight: bold;">STARTS WITH YOU</span>
                            <br>
                            <a href="#get-involved" class="btn btn-success btn-lg">Volunteer Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- About Us Section -->
        <section id="about-us" class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/vests.jpeg" alt="About Turtle Shelter Project" class="img-fluid" style="width: 75%;">
                    </div>
                    <div class="col-md-6">
                        <h2>What is the Turtle Shelter Project?</h2>
                        <p>
                            The Turtle Shelter Project started with a high-tech yet simple solution designed to help save lives. Inspired by the need for portable shelter, much like a turtle carries its shell, the project creates vests, aimed to provide essential warmth and protection to those experiencing homelessness. After losing seven friends to the harsh winter cold during her own time on the streets, our founder Jen found a way to make a difference. The Turtle Shelter Project creates affordable, high-tech foam vests that keep people warm in temperatures as low as 10 degrees below zero, offering a life-saving solution to alleviate suffering. The project invites individuals, businesses, and communities to get involved by requesting vests or organizing efforts to create and distribute them, making a real impact on the lives of those in need.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Join Our Mission Section -->
        <section id="join-us" class="extra-section py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="section-heading">Join Our Mission</h2>
                        <p class="section-text">
                            Be a part of something bigger. Help us save lives and provide resources for those in need.
                        </p>
                        <div class="mt-3">
                            <a href="#become-sponsor" class="btn btn-primary btn-lg me-3">Become a Sponsor Now</a>
                            <a href="#donate-cause" class="btn btn-primary btn-lg me-3">Donate Now to Our Cause</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
         <!-- Sponsor Section-->
<!-- Sponsor Section-->
<div class="container">
    <div class="text-center mb-5">
        <br>
        <br>
        <h2 style="font-family: Open Sans; font-weight: 100;">Thank You to Our Existing Sponsors for Years of Support</h2>
    </div>
    <div class="sponsor-container">
        <div class="sponsor-box">
            <img src="assets/img/cheney.jpeg" alt="Cheney Brothers Construction">
            <h3>Cheney Brothers Construction</h3>
        </div>
        <div class="sponsor-box">
            <img src="assets/img/design.jpeg" alt="Design Source">
            <h3>Design Source</h3>
        </div>
        <div class="sponsor-box">
            <img src="assets/img/foam.jpeg" alt="Future Foam">
            <h3>Future Foam</h3>
        </div>
        <div class="sponsor-box">
            <img src="assets/img/daughters.jpeg" alt="Give Me a Chance a Daughters of Charity Ministry">
            <h3>Give Me a Chance a Daughters of Charity Ministry</h3>
        </div>
        <div class="sponsor-box">
            <img src="assets/img/owf.jpeg" alt="Outdoor Wilderness Fabrics">
            <h3>Outdoor Wilderness Fabrics</h3>
        </div>
        <div class="sponsor-box">
            <img src="assets/img/minkey.jpeg" alt="Minky Couture">
            <h3>Minky Couture</h3>
        </div>
        <div class="sponsor-box">
            <img src="assets/img/church.png" alt="​The Episcopal Church of the Good Shepherd">
            <h3>​The Episcopal Church of the Good Shepherd</h3>
        </div>
    </div>
</div>

<!-- Optional: Add custom padding for spacing -->
<style>
    .sponsor-container {
        padding-top: 30px;
        padding-bottom: 50px; /* Adjust the value for more/less spacing */
    }
</style>

        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <h6>Contact the Turtle Shelter Project</h6>
                <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                <h6>Counties</h6>
                <ul class="footer-links">
                    <li>Box Elder</li>
                    <li>Davis</li>
                    <li>Morgan</li>
                    <li>Salt Lake City</li>
                    <li>Summit</li>
                    <li>Toole</li>
                    <li>Utah</li>
                    <li>Wasatch</li>
                    <li>Weber</li>
                </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
                </div>
            </div>
            <hr>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 The Turtle Shelter Project. All Rights Reserved. We are a registered 501(c)(3) nonprofit organization.</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                </ul>
                </div>
            </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>

