<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Jen's Story</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400&display=swap" rel="stylesheet" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/ourStyles.css" rel="stylesheet" />
    </head>
    <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style='background-color: #1F2B3D; position: fixed; border-bottom: .5px solid rgba(0,0,0,0.75)'>
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/" style="color: #393939;">
                <img src="assets/favicon.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                TURTLE SHELTER PROJECT
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0" style="color: #393939;">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/#about-us">About</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/#join-us">Sponsorship</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/meet_jen">Jen's Story</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/request_event">Request Event</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/request_volunteer">Volunteer Sign-Up</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/login">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <!-- Page Header-->
        <header class="masthead" style="height: 150px; background-color:#FBFAF7">
            <div class="container position-relative px-4 px-lg-5 height: 150px">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2 id="save-lives-heading" style="color:#393939; font-size: 1rem; margin-bottom: 1rem; text-transform: uppercase; letter-spacing: 0.5;">SHE OVERCAME HOMELESSNESS AND VOWED TO MAKE A DIFFERENCE</h2>
                            <span class="subheading" style="font-weight: 100; font-size: 50px; text-align: center; color: #393939;">MEET JEN</span>                        
                        </div>
                    </div>
                </div>
            </div>
        </header>        
        <!-- Main Content-->
        <main class="mb-4" style="background-color:#FBFAF7">
            <div class="container px-4 px-lg-5" style="background-color:#FBFAF7;">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                        <h2 id="save-lives-heading" style="color:#393939; font-size: 1rem; text-transform: uppercase; letter-spacing: 0.5;">Jen's Story</h2>
                        <img src="assets/img/jen.png" alt="Jen's Story" class="img-fluid"/>
                        <p style="font-family: sans-serif; font-size: 14px;">My addiction led me to being homeless on several occasions throughout my life, and during that time I personally knew seven people who froze to death. When I first learned about this lifesaving technology, my mind flooded with ideas on how many people's lives this could save. I'd recently been homeless during an extreme winter. It had been one of the coldest winters Utah had suffered in a long time, so the misery of surviving the bitter cold was still very fresh in my mind.</p>

                        <p style="font-family: sans-serif; font-size: 14px;">While I was homeless I remember feeling the chill all the way to my bones. I couldn't even think or function. It completely zapped me of my energy so much that I was losing my will to live. Everything felt beyond overwhelming. Simple tasks, like finding a bathroom, seemed to feel like huge obstacles. The crazy thing about it was: I had a car I was living in; I had a storage unit I could hang out in during the day and at night; and I had an income that was sufficient for my needs. But being homeless completely broke me - even with all of the resources I had available to me.</p>

                        <p style="font-family: sans-serif; font-size: 14px;">I began thinking that if homelessness crushed me, even with all that I had, then what would it do to someone who had much less, or even nothing? I wanted to do something to help people with this burden. When I learned about foam clothing, I knew without a doubt that God was telling me -"THIS IS HOW YOU CAN HELP!"</p>

                        <p style="font-family: sans-serif; font-size: 14px;">After a lot of prayer and asking God to put the right people in my path, I started talking to everyone about my desire to make foam clothing for the homeless. Eventually, I told the right person and that is how I met Marian Edmonds-Allen. At the time Marian, an ordained minister, was the executive director for the Utah Pride Center. Prior to that she had served as the Executive Director of OUTreach Resource Centers and in 2015 was named a Petra Fellow for her work with LGBTQ homeless youth.</p>

                        <p style="font-family: sans-serif; font-size: 14px;">Marian was particularly interested in my idea for getting foam clothing into the hands of the homeless and arranged a meeting to hear more. But it was still just an idea. The truth is I had no idea how to make the project happen, and at the time I had only been clean and sober for 7 months. Things were put on hold for a while because Marian took a new job at Parity in New York and resigned from the Pride Center. I had been in drug rehab, but I needed to finish getting clean, sober, and stable. My recovery sponsor kept telling me that this was God's project, not mine, and I needed to let go and let God make this happen in HIS time.</p>

                        <p style="font-family: sans-serif; font-size: 14px;">After about 2 years, in January 2017, God led me to Angela Roth. Angela is someone who not only knows how to create a pattern but can sew like a rock star! Coincidentally, when I met her she had been praying for an opportunity to use her sewing and patterning talents to do something truly meaningful for people with a genuine need. We teamed up and started the Turtle Shelter Project!</p>

                        <p style="font-family: sans-serif; font-size: 14px;"> We decided to make vests because we thought a simple vest would be able to keep a person's core warm. If your core is warm, the rest of you stays warm longer. We came up with a vest pattern that would be fairly easy for volunteers to make and keep production costs down. After purchasing materials for 50 vests, we had only spent $30 for each one. The goal was to use labor donated by volunteers. This would give people the opportunity to serve in any capacity, whether it be time or money, and to truly do something meaningful that can help save lives.</p>

                        <p style="font-family: sans-serif; font-size: 14px;">Between September 2017 and January of 2018, with the help of many volunteers, we produced 50 TSP vests. We handed some out to people experiencing homelessness to do some field testing for us and let us know how they worked. The response has been excellent! As a result of their feedback, we have made improvements to the vests. We have added hoods, pockets, and a sturdy belt to help them fit better. We have also used some of the vests to do field testing by ourselves and friends and family who were willing. The results have been very encouraging!</p>

                        <p style="font-family: sans-serif; font-size: 14px;">We want these vests to go to people living outdoors or who don't have access to shelters, because they are the ones who need this technology the most. The vests are called "Turtle Shelters" because they are a portable shelter - just like a turtle taking its shelter with it. Wearing a Turtle Shelter Vest makes having a source of heat a nicety, but not a necessity because the foam insulation in the vest will harness the body's heat and conserve it. The vests are very well made to provide durability, wind resistance, insulation, and comfort. They are a very effective way to help provide life-saving warmth.</p>
                    </div>
                </div>
            </div>
        </main>



    <!-- Footer-->
    <footer class="py-3" style="background-color: #1F2B3D; color: #FBFAF7; height: 320px;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase" style="font-weight: 100; font-size: 22px; text-align: left;">Contact Us</h5>
                    <p class="small" style="font-family: sans-serif; font-size: 14px; font-weight: 100; text-align: left;">
                        <strong>Address:</strong> PO BOX 382, Kaysville, UT 84037<br>
                        <strong>Phone:</strong> 801-872-3190<br>
                        <strong>Email:</strong> <a href="mailto:turtleshelterproject@gmail.com" class="text-light text-decoration-none">turtleshelterproject@gmail.com</a></p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase" style="font-weight: 100; font-size: 22px; text-align: left;">Counties</h5>
                    <br>
                    <div class="row d-flex align-items-center">
                        <div class="col-6">
                            <ul class="small" style="font-family: sans-serif; font-size: 14px; font-weight: 100; text-align: left; list-style-type: none; padding-left: 0;">
                                <li>Box Elder</li>
                                <li>Cache</li>
                                <li>Davis</li>
                                <li>Morgan</li>
                                <li>Salt Lake City</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="small" style="font-family: sans-serif; font-size: 14px; font-weight: 100; text-align: left; list-style-type: none; padding-left: 0;">
                                <li>Summit</li>
                                <li>Toole</li>
                                <li>Utah</li>
                                <li>Wasatch</li>
                                <li>Weber</li>
                            </ul>
                        </div>
                    </div>
                </div>
                                    
                <div class="col-lg-4 col-md-12">
                    <h5 class="text-uppercase" style="font-weight: 100; font-size: 22px; text-align: left;">Stay in Touch</h5>
                    <br>
                    <div class="d-flex justify-content-left">
                        <a href="https://www.facebook.com/TurtleShelterProject" target="_blank" class="text-light me-3">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/" target="_blank" class="text-light me-3">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="mailto:turtleshelterproject@gmail.com" target="_blank" class="text-light me-3">
                            <i class="fas fa-envelope fa-2x"></i>
                        </a>
                    </div>
                </div>
                
            </div>
            <hr class="border-light my-2">
            <div class="row">
                <div class="col text-center">
                    <p class="small mb-0" style="font-family: sans-serif; font-size: 14px; font-weight: 100; text-align: center;">
                        &copy; 2024 Turtle Shelter Project. All Rights Reserved. We are a registered 501(c)(3) nonprofit organization.
                    </p>
                </div>
            </div>
        </div>
    </footer>

        
        
           
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
