<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Become a Volunteer Form</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400&display=swap" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/ourStyles.css" rel="stylesheet" />
        <style>
            /* Apply white background to both html and body */
            html, body {
                background-color: #FBFAF7;
                margin: 0;
                padding: 0;
            }
        
            footer {
                background-color: #393939;
                text-align: center;
                padding: 10px 0;
            }
        
            select option {
                color: lightgray;
            }
        
            select {
                color: gray; /* Ensures the text color for select dropdown is gray */
            }
        
            header h1 {
                text-align: center;
                color: #393939;
                background-color: #FBFAF7;
            }
        
            .form-container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #F9F3E5;
                border-radius: 8px;
                /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
            }
        
            .form-container h2 {
                text-align: center;
                color: #393939;
            }
        
            form label {
                display: block;
                margin: 8px 0;
                color: #393939;
                padding: 0;
                font-weight: 100;
            }
        
            form input, form select {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border-radius: 4px;
                border: 1px solid #ddd;
                background-color: white;
            }
        
            form button {
                width: 100%;
                padding: 10px;
                background-color: #393939;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
            }
        
            form button:hover {
                background-color: #555;
            }
            form select {
                width: 100%;
                padding: 8px;
                margin: 0; /* Ensure no margin is added around the select elements */
                border-radius: 4px;
                border: 1px solid #ddd;
                background-color: white;
            }
            form input, form select, form textarea, form button {
            margin: 0;
            padding: 8px;
            }



        </style>        
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style='background-color: #FBFAF7; position: fixed; border-bottom: .5px solid rgba(0,0,0,0.75)'>
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" style="color: #393939;">
                    <img src="assets/favicon.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                    TURTLE SHELTER PROJECT
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0" style="color: #393939;">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/#about-us">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/#join-us">Sponsorship</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/meet_jen">Jen's Story</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/request_event">Request Event</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/request_volunteer">Volunteer Sign-Up</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #393939;" href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <h1 style="background-color: #FBFAF7;">Join the Turtle Team</h1>
        </header>

        <div class="form-container">
            <h2 style="font-size: 20px; font-weight: 100;">New User Form</h2>
            <form action="/signup" method="POST">
                <label for="first_name" style="font-weight: 150;">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
        
                <label for="last_name" style="font-weight: 150;">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
        
                <label for="email" style="font-weight: 150;">Email:</label>
                <input type="email" id="email" name="email" required>
        
                <label for="phone" style="font-weight: 150;">Phone Number:</label>
                <input type="tel" id="phone" name="phone" placeholder="123-456-7890" required>

                <label for="username" style="font-weight: 150;">Username:</label>
                <input type="text" id="username" name="username" placeholder="username..." required>

                <label for="password" style="font-weight: 150;">Password:</label>
                <input type="tel" id="password" name="password" placeholder="password..." required>

                <label for="con_password" style="font-weight: 150;">Confirm Password:</label>
                <input type="tel" id="con_password" name="con_password" placeholder="confirm password..." required>
                
                <label for="show">Show Password</label>
                <input type="checkbox" id="togglePassword" name="show">
                

                <p>**Leave blank if creating volunteer account**</p>
                <label for="admin_key" stye="font-weight: 150;">Admin Create Key:</label>
                <input type="text" id="admin_key" name="admin_key">

                <button type="submit" style="background-color: #457DD7;">Create Account</button>
                    <!-- The Modal -->
                <div id="customAlert" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <h2 style="font-size: 18px">Thank you for creating an account with us!</h2>
                        <p style="font-size: 12px">Being a volunteer changes lives. We will be contacting you shortly to provide more details. Please check your inbox for an email from jen@turtleshelterproject.com. If you do not hear from her in 24 hours, please check your spam folder. Thank you in advance for your contributions!</p>
                        <button type="button" class="btn btn-success" onclick="closePopup()">Close</button>
                    </div>
                </div>
        
                <!-- JavaScript -->
                 <script>
                    document.getElementById("togglePassword").addEventListener("change", (e) => {
                        const passwordField = document.getElementById("password");
                        const confirmPasswordField = document.getElementById("con_password");
                        
                        if (e.target.checked) {
                            // Show passwords
                            passwordField.type = "text";
                            confirmPasswordField.type = "text";
                        } else {
                            // Hide passwords
                            passwordField.type = "password";
                            confirmPasswordField.type = "password";
                        }
                    });
                 </script>
                <script>
                    // Function to open the modal
                    function openPopup() {
                        document.getElementById("customAlert").style.display = "block";
                    }

                    // Function to close the modal
                    function closePopup() {
                        document.getElementById("customAlert").style.display = "none";
                        // redirect to dash page
                        window.location.href = "/dashboard";
                    }
                </script>
                <script>
                    document.querySelector("form").addEventListener("submit", (e) => {
                    const password = document.getElementById("password").value;
                    const confirmPassword = document.getElementById("con_password").value;
                    const adminKey = document.getElementById("admin_key").value;

                    // Ensure passwords match
                    if (password !== confirmPassword) {
                        e.preventDefault();
                        alert("Passwords do not match.");
                        return;
                    }

                    // Check Admin Key if provided
                    if (adminKey && adminKey !== "iloveturtles") {
                        e.preventDefault();
                        alert("Admin key is incorrect.");
                        return;
                    }

                    // Show popup without blocking form submission
                    openPopup();
                });
                </script>
            </form>
        </div>
            </form>
        </div>

        <!-- Smaller Site Footer -->
        <footer class="site-footer" style="height: 150px; position: relative; bottom: 0; left: 0; width: 100%; background-color: #393939; padding: 0;">
            <div class="container" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="text-uppercase" style="font-weight: 100; font-size: 16px; text-align: center; color: #FBFAF7; padding-top: 40px;">Thank you for visiting the turtle shelter project</h5>
                        <p class="small mb-0" style="font-family: sans-serif; font-size: 10px; font-weight: 100; text-align: center; color: #FBFAF7;">
                            &copy; 2024 Turtle Shelter Project. All Rights Reserved. We are a registered 501(c)(3) nonprofit organization.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="social-icons">
                            <li><a class="facebook" href="https://www.facebook.com/turtleshelterproject/"><i class="fab fa-facebook" style="color: #FBFAF7;"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/"><i class="fab fa-linkedin" style="color: #FBFAF7;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
